<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"

        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "mx.com.mistertennis.app"
        version     = "1.0.0"
        versionCode = "1" >

        <!-- versionCode is optional and Android only -->

        <preference name="phonegap-version" value="3.7.0" />

        <name>Mister Tennis App</name>

        <description>
            Aplicación de Mister Tennis
        </description>

        <author href="#" email="ismaharo18@gmail.com">
            Ismael Haro Camacho
            Victor Hugo Benitez Bosques
        </author>
        
        <icon src="img/icono.png" />
        
        <gap:plugin name="org.apache.cordova.media-capture" />
    </widget>